<h1> Color Palettes </h1>

{{#each model as |palette|}}
	<h2> {{palette.name}} </h2>
	<div class="btn-group">
		{{#each palette.colors as |color|}}
				<button class="btn palette-btn" style="background-color: rgb({{color.red}},{{color.green}},{{color.blue}})">
					rgb({{color.red}}, {{color.green}}, {{color.blue}})
				</button>
		{{/each}}
	</div>
{{/each}}

  <div class="text-center">
    {{#link-to 'palettes.new' class="btn btn-info link-to-new"}}
      Create Your Own Palette
    {{/link-to}}
  </div>
{{outlet}}
