<h1> {{model.name}} </h1>

<h2> Palette Name </h2>
{{input value=model.name class="full-width"}}


<h2> Palette Preview </h2>
<div class="btn-group">
  {{#each model.colors as |color|}}
<button class="btn palette-btn" style="background-color: rgb({{color.red}},{{color.green}},{{color.blue}})">
  rgb({{color.red}}, {{color.green}}, {{color.blue}})
</button>
{{/each}}
</div>

<h2> Edit Color </h2>
<div class="btn-group">
  <button class="btn palette-btn full-width"></button>
</div>

<div class="color-picker">
  <div class="color-letter">R</div>
  <input type="text" class="color-number">
  <input type="range" class="color-slider" maxlength="3">
</div>

<div class="color-picker">
  <div class="color-letter">G</div>
  <input type="text" class="color-number">
  <input type="range" class="color-slider" maxlength="3">
</div>

<div class="color-picker">
  <div class="color-letter">B</div>
  <input type="text" class="color-number">
  <input type="range" class="color-slider" maxlength="3">
</div>
{{outlet}}
